@charset "UTF-8";
/* Палитра цветов */
.header {
  color: #ffffff;
  width: 100%;
  z-index: 1000;
}
.header .header__container {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  width: 80%;
  max-width: 1089px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 48px;
  margin-top: 24px;
}
@media (max-width: 1300px) {
  .header .header__container {
    width: 96%;
  }
}
@media (max-width: 1000px) {
  .header .header__container {
    margin-top: 4px;
    padding: 4px;
  }
}
@media (max-width: 500px) {
  .header .header__container {
    margin-top: 4px;
    width: 80%;
    padding: 4px;
  }
}
.header__left {
  display: flex;
  align-items: center;
}
.header__right {
  display: flex;
  align-items: center;
}
.header__logo img {
  max-height: 64px;
}
@media (max-width: 500px) {
  .header__logo img {
    max-height: 32px;
  }
}
.header__nav {
  margin-left: 48px;
  display: flex;
  align-items: baseline;
}
@media (max-width: 1300px) {
  .header__nav {
    margin-left: 24px;
  }
}
.header__nav ul.header__menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 48px;
}
@media (max-width: 1300px) {
  .header__nav ul.header__menu {
    margin-right: 24px;
  }
}
.header__menu-item {
  margin: 0;
}
.header__menu-item:nth-child(2) {
  position: relative;
  margin: 0 16px;
  padding: 0rem 16px;
}
.header__menu-item:nth-child(2)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 12px;
  width: 1px;
  background: rgba(255, 255, 255, 0.4);
}
.header__menu-item:nth-child(2)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 12px;
  width: 1px;
  background: rgba(255, 255, 255, 0.4);
}
.header__menu-item a {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
}
.header__search {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  padding: 0;
  margin-right: 1rem;
}
.header__search-input {
  padding: 10px 0 10px 16px;
  background: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  font-size: 0.9rem;
}
.header__search-input::placeholder {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #fff;
}
.header__search-btn {
  border: none;
  background: none;
  font-size: 1rem;
  cursor: pointer;
  padding-right: 16px;
  padding-left: 0;
}
.header__phone {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  margin-right: 24px;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
}
@media (max-width: 1300px) {
  .header__phone {
    margin-right: 12px;
  }
}
.header__city {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  margin-right: 48px;
  padding: 8px 16px;
}
@media (max-width: 1300px) {
  .header__city {
    margin-right: 24px;
  }
}
@media (max-width: 500px) {
  .header__city {
    padding: 3px 8px;
  }
}
.header__city-icon {
  margin-right: 0.3rem;
}
.header__city-name {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #fff;
  margin-right: 8px;
  margin-left: 8px;
}
.header__city-arrow {
  margin-left: 0.3rem;
}
.header__btn {
  width: 32px;
  height: 32px;
  margin-top: 0px;
  margin-right: 24px;
  background-color: #f2f2f2;
  border-radius: 8px;
  background-image: url("img/bookmark.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 18px;
  border: none;
  padding: 0;
}
@media (max-width: 500px) {
  .header__btn {
    margin-top: 0px;
    margin-right: 0px;
    width: 24px;
    height: 24px;
    background-size: 10px 14px;
  }
}
.header__btn.active {
  background-image: url("img/bookmark_check.svg");
  background-size: 32px 32px;
}
@media (max-width: 500px) {
  .header__btn.active {
    background-size: 24px 24px;
  }
}
.header__burger {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 1.5rem;
  display: none;
}

@media (max-width: 767.98px) {
  .header .header__nav, .header .header__search, .header .header__phone {
    display: none;
  }
  .header .header__burger {
    display: block;
  }
}
.offcanvas.mobile-menu {
  background-color: #f4f4f4;
  width: 100% !important;
  height: 300px;
  border-radius: 0 0 16px 16px;
}

.mobile-menu__header {
  margin: 8px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(4px);
  width: 80%;
  max-width: 1089px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 4px;
  border-radius: 48px;
  backdrop-filter: blur(4px);
  background: rgba(11, 13, 18, 0.6);
}

.mobile-menu__logo img {
  max-height: 32px;
}

.mobile-menu__city {
  display: flex;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.6);
  padding: 6px 8px;
}

.header__burger.navbar-toggler .navbar-toggler-icon {
  padding-top: 4px;
}

.mobile-menu__city-name {
  color: #fff;
  margin-right: 0.5rem;
}

.mobile-menu__close {
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 16px;
  color: #fff;
}

.mobile-menu__nav {
  padding: 1rem;
}

.mobile-menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-menu__item {
  margin: 1rem 0;
}

.mobile-menu__item a {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  color: #333333;
  text-decoration: none;
  font-size: 14px;
  line-height: 114%;
}

.mobile-menu__footer {
  padding: 1rem;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.mobile-menu__phone {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  margin-bottom: 1rem;
  font-size: 16px;
  line-height: 125%;
  color: #434343;
}

.mobile-menu__socials {
  display: flex;
  gap: 1rem;
}

.mobile-menu__social-icon {
  font-size: 1.5rem;
  color: #333333;
}

@media (max-width: 500px) {
  .carousel {
    height: 180px;
  }
}
@media (max-width: 500px) {
  .carousel-item {
    height: 100%;
  }
}
@media (max-width: 500px) {
  .carousel-item img {
    height: 180px;
    object-fit: cover;
    object-position: center;
  }
}

.carousel-inner {
  border-radius: 0 0 24px 24px;
}

.carousel-indicators {
  margin-bottom: 12px;
}
@media (max-width: 500px) {
  .carousel-indicators {
    margin-bottom: 6px;
  }
}

.carousel-indicators [data-bs-target] {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  width: 8px;
  height: 8px;
  border: none;
}

.carousel-indicators .active {
  opacity: 1;
  background-color: #9aa3a5;
  width: 48px;
  height: 8px;
  border-radius: 4px;
  border: none;
}

.slider-section .container {
  padding: 0;
}
.slider__slide {
  position: relative;
}
.slider__slide .slider__image {
  filter: brightness(0.7);
}
.slider__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent 60%);
}
.slider__info {
  position: absolute;
  bottom: 48px;
  left: 48px;
  right: 48px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  color: #fff;
}
.slider__date {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
  margin-bottom: 8px;
}
@media (max-width: 500px) {
  .slider__date {
    font-size: 9px;
    padding-bottom: 4px;
    margin-bottom: 0;
  }
}
.slider__title {
  font-size: 48px;
  line-height: 117%;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  padding-bottom: 8px;
}
@media (max-width: 500px) {
  .slider__title {
    font-size: 18px;
    padding-bottom: 4px;
  }
}
.slider__price {
  display: inline;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 143%;
  background-color: #bb8a4d;
  color: #fff;
  border-radius: 24px;
  padding: 8px 16px;
  width: auto;
}
@media (max-width: 500px) {
  .slider__price {
    font-size: 14px;
    padding: 2px 8px;
  }
}
.slider__tags {
  margin-top: 0.5rem;
}
.slider__tag {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  border-radius: 18px;
  padding: 4px 8px !important;
  font-size: 12px;
  line-height: 133%;
  border: none;
  display: inline-block;
  margin-right: 2px !important;
}
@media (max-width: 500px) {
  .slider__tag {
    font-size: 9px !important;
    padding: 2px 6px !important;
  }
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  display: none;
}

@media (max-width: 767.98px) {
  .slider__info {
    bottom: 16px;
    left: 20px;
    right: 20px;
  }
  .slider__title {
    font-size: 18px;
    padding-bottom: 4px;
  }
}
/* Глобальные стили */
body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-family: "Onest", sans-serif;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

/* Секция фильтров */
.filter-block {
  margin: 0 10px;
  background-color: #564dbb;
  border-radius: 0 0 24px 24px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}
@media (max-width: 500px) {
  .filter-block {
    border-radius: 0 0 16px 16px;
  }
}
.filter-block .form-control:focus {
  background-color: rgba(70, 66, 66, 0.6);
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}
.filter-block__icon {
  margin-left: 8px;
  display: inline-flex !important;
  align-items: center;
}
@media (max-width: 768px) {
  .filter-block__icon {
    margin-left: 0px;
    padding: 4px 2px;
  }
}
@media (max-width: 577px) {
  .filter-block__icon {
    margin-left: auto;
  }
}
.filter-block__icon.rotated .filter-block__arrow {
  transform: rotate(180deg);
}
.filter-block__icon .filter-block__arrow {
  transition: transform 0.3s ease;
}
.filter-block .form-group {
  margin-right: 1px;
}
.filter-block__filter-placeholder {
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  pointer-events: none;
  transition: 0.2s;
  pointer-events: none;
}
.filter-block__filter-placeholder.is-hidden {
  opacity: 0;
  visibility: hidden;
}
.filter-block input[type=date] {
  color: transparent;
}
.filter-block__select, .filter-block__input {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  border: none;
  color: #fff;
  border-radius: 20px;
  padding: 9px 16px;
  background: rgba(70, 66, 66, 0.6);
}
.filter-block__input-left {
  border-radius: 20px 0 0 24px;
  margin-right: 1px;
}
.filter-block__input-right {
  border-radius: 0 20px 20px 0;
}
.filter-block__select:focus, .filter-block__input:focus {
  outline: none;
  box-shadow: none;
}
.filter-block__toggle {
  display: flex;
  margin-left: auto;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  border: none;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 9px 16px;
}
@media (max-width: 768px) {
  .filter-block__toggle {
    font-size: 0px;
  }
}
@media (max-width: 576px) {
  .filter-block__toggle {
    font-size: 14px !important;
    width: 100%;
  }
}
.filter-block__toggle:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
@media (max-width: 768px) {
  .filter-block .filter-block__extra {
    flex-wrap: wrap;
  }
}

/*
.filters-section {
  background-color:  #564dbb;
  padding: 1rem ;

  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;

  .form-select,
  .form-control {
    font-family: $font-ubuntu;
    font-weight: $font-ubuntu-regular;
    font-size: 14px;

    border: none;
    color: #fff;
    border-radius: 20px;
    padding: 9px 16px;
    background: rgba(70, 66, 66, 0.6);
  }
  .form-select option {
    color: $color-dark;
  }
  .btn {
    display: flex;
    margin-left: auto;
    font-family: $font-ubuntu;
    font-weight: $font-ubuntu-regular;
    font-size: 14px;
    color: #fff;
    border: none;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    padding: 9px 16px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
*/
/* Теги-фильтры */
.tag-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 24px;
  margin-bottom: 24px;
}
@media (max-width: 500px) {
  .tag-filters {
    margin-top: 16px;
    margin-bottom: 16px;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }
}

.tag {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  border-radius: 18px;
  padding: 8px 16px 8px 16px;
  font-size: 12px;
  line-height: 133%;
  color: #fff;
  border: none;
}
.tag.purple {
  background-color: #f9f5ff;
  color: #7f56d9;
}
.tag.purple:active {
  background-color: #7f56d9;
  color: #fff;
}
.tag.purple:hover {
  box-shadow: 0 0 0 1px #7f56d9;
}
.tag.blue {
  background-color: #eff6ff;
  color: #2b68e5;
}
.tag.blue:active {
  background-color: #2b68e5;
  color: #fff;
}
.tag.blue:hover {
  box-shadow: 0 0 0 1px #2b68e5;
}
.tag.green {
  background-color: #effaf3;
  color: #2c9d67;
}
.tag.green:active {
  background-color: #2c9d67;
  color: #fff;
}
.tag.green:hover {
  box-shadow: 0 0 0 1px #2c9d67;
}
.tag.orange {
  background-color: #fffaec;
  color: #ff7900;
}
.tag.orange:active {
  background-color: #ff7900;
  color: #fff;
}
.tag.orange:hover {
  box-shadow: 0 0 0 1px #ff7900;
}
.tag.cream {
  background-color: #ffeee0;
  color: #9f4709;
}
.tag.cream:active {
  background-color: #9f4709;
  color: #fff;
}
.tag.cream:hover {
  box-shadow: 0 0 0 1px #9f4709;
}
.tag.pink {
  background-color: #ffe8fa;
  color: #d95682;
}
.tag.pink:active {
  background-color: #d95682;
  color: #fff;
}
.tag.pink:hover {
  box-shadow: 0 0 0 1px #d95682;
}

/* Карточка события */
.event-card {
  position: relative;
  height: 100%;
  border: 24px solid #f2f2f2;
  border-bottom: 16px solid #f2f2f2;
  border-radius: 24px;
  background: #f2f2f2;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}
.event-card:hover {
  cursor: pointer;
  transform: translateY(-6px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12), 0 4px 12px rgba(0, 0, 0, 0.08);
}
.event-card:hover::after {
  opacity: 1;
  transform: scale(1);
}
.event-card::after {
  content: "";
  position: absolute;
  bottom: -16px;
  right: -24px;
  width: 64px;
  height: 48px;
  background: #bb8a4d url("img/arrow-right-top.svg") no-repeat center center;
  background-size: 14px 14px;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.25s ease, transform 0.25s ease;
  border-radius: 24px 0;
  fill: #bb8a4d;
  box-shadow: inset 0 4px 4px 0 #ac7c41;
}
@media (max-width: 500px) {
  .event-card::after {
    width: 48px;
    height: 32px;
    border-radius: 16px 0;
    bottom: -8px;
    right: -8px;
  }
}
.event-card .card-img-top {
  border-radius: 18px;
  height: 270px;
  object-fit: cover;
  transition: transform 0.3s ease;
}
@media (max-width: 500px) {
  .event-card {
    border: 8px solid #f2f2f2;
    box-shadow: 0 4px 16px 0 rgba(123, 104, 56, 0.15), 0 0 25px 0 rgba(123, 104, 56, 0.1);
    border-radius: 16px;
  }
}
.event-card .card-img-container .btn {
  width: 32px;
  height: 32px;
  margin-top: 12px;
  margin-right: 12px;
  background-color: #f2f2f2;
  border-radius: 8px;
  background-image: url("img/bookmark.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 18px;
  border: none;
  padding: 0;
}
@media (max-width: 500px) {
  .event-card .card-img-container .btn {
    margin-top: 8px;
    margin-right: 8px;
    width: 24px;
    height: 24px;
    background-size: 10px 14px;
  }
}
.event-card .card-img-container .btn.active {
  background-image: url("img/bookmark_check.svg");
  background-size: 32px 32px;
}
@media (max-width: 500px) {
  .event-card .card-img-container .btn.active {
    background-size: 24px 24px;
  }
}
.event-card .card-img-container .tag-filters {
  margin: 8px;
}
.event-card .card-img-top {
  border-radius: 18px;
  height: 270px;
  object-fit: cover;
}
@media (max-width: 500px) {
  .event-card .card-img-top {
    height: 151px;
    border-radius: 12px;
  }
}
.event-card .event-datetime {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: #000;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 114%;
  color: #838383;
}
@media (max-width: 500px) {
  .event-card .event-datetime {
    font-size: 9px;
    margin-bottom: 4px;
  }
}
.event-card .event-datetime img {
  margin-bottom: 3px;
}
.event-card .card-body {
  padding: 0;
  padding-top: 16px;
}
.event-card .card-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 130%;
  margin-bottom: 16px;
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 500px) {
  .event-card .card-title {
    font-size: 14px;
    margin-bottom: 8px;
  }
}
.event-card .price {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  background-color: #bb8a4d;
  color: #fff;
  border-radius: 18px;
  padding: 4px 8px;
  width: 83px;
  height: 28px;
}
.event-card .status-cancelled {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  background-color: #dcdcdc;
  color: #000;
  border-radius: 18px;
  padding: 4px 8px;
  display: none;
}
@media (max-width: 576px) {
  .event-card .tag {
    font-size: 9px;
    line-height: 133%;
    padding: 3px 6px;
  }
}

.event-card.event-card-cancelled {
  border: 24px solid #fff;
  border-bottom: 16px solid #fff;
  border-radius: 18px;
  background: #fff;
  box-shadow: 0 0 0 1px #f4f4f4;
}
@media (max-width: 500px) {
  .event-card.event-card-cancelled {
    border: 8px solid #fff;
    box-shadow: 0 4px 16px 0 rgba(123, 104, 56, 0.15), 0 0 25px 0 rgba(123, 104, 56, 0.1);
    border-radius: 16px;
  }
}
.event-card.event-card-cancelled .card-title {
  color: #747474;
}
.event-card.event-card-cancelled img {
  filter: grayscale(100%);
}
.event-card.event-card-cancelled .price {
  display: none;
}
.event-card.event-card-cancelled .status-cancelled {
  display: block;
}

/* Кнопка-иконка в карточке */
.banner-block img {
  width: 100%;
}

.banner-wrapper {
  order: 13;
}

.vertical-banner {
  height: 100%;
  border-radius: 24px;
  overflow: hidden;
}
.vertical-banner img {
  width: 100%;
  height: 100%;
}

.button-all {
  display: flex;
  justify-content: center;
  margin: auto;
}
.button-all .btn {
  background-color: #bb8a4d !important;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 178%;
  color: #fff;
  border-radius: 16px;
  padding: 8px 16px;
}
.button-all .btn:hover {
  background-color: #9b703b !important;
  color: #fff;
}
.button-all .btn:active {
  background-color: #76552d !important;
  color: #fff;
}

/*FOOTER*/
.footer {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  color: #fff;
}
.footer__wrapper {
  background-color: #434343;
  border-radius: 24px 24px 0 0;
  padding: 48px;
}
@media (max-width: 768px) {
  .footer__wrapper {
    padding: 24px;
  }
}
@media (max-width: 768px) {
  .footer__margin-minus {
    margin-top: -18px;
  }
}
@media (max-width: 500px) {
  .footer__margin-minus {
    margin-top: -103px;
  }
}
.footer__row {
  row-gap: 2rem;
}
@media (max-width: 768px) {
  .footer__row {
    row-gap: 0rem;
  }
}
.footer__column {
  font-size: 16px;
}
.footer__logo {
  width: 48px;
  height: 48px;
}
.footer__phone {
  font-weight: 500;
  font-size: 16px;
}
.footer__title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 1;
  font-size: 24px;
  margin-bottom: 14px;
}
@media (max-width: 500px) {
  .footer__title {
    font-size: 16px;
  }
}
.footer__list {
  margin: 0;
  padding: 0;
}
.footer__item {
  margin-bottom: 8px;
}
.footer__link {
  color: #838383;
  text-decoration: none;
  transition: color 0.2s;
  font-size: 16px;
  line-height: 1.5;
}
@media (max-width: 500px) {
  .footer__link {
    font-size: 12px;
    line-height: 1.33;
  }
}
.footer__link:hover {
  color: #fff;
}
.footer__divider {
  margin-top: 40px;
  border-top: 1px solid #595959;
}
@media (max-width: 768px) {
  .footer__divider {
    margin-top: 16px;
  }
}

.social {
  display: flex;
  gap: 0.25rem;
}
.social__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #f2f2f2;
  border-radius: 8px;
  transition: background 0.2s;
}
.social__icon:hover {
  background-color: #bb8a4d;
}
.social__icon:hover .social__svg {
  fill: #fff;
}
.social__icon:active {
  background-color: #2b2b2b;
}
.social__icon:active .social__svg {
  fill: #fff;
}
.social__icon .social__svg {
  fill: #434343;
}

/*СТРАНИЦА EVENT CARD*/
/*BREADCRUMB*/
.breadcrumb-section {
  margin-top: 150px;
}
@media (max-width: 500px) {
  .breadcrumb-section {
    margin-top: 70px;
  }
}

.breadcrumb {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #838383;
}
.breadcrumb .breadcrumb-item {
  padding-left: 0;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "•";
  color: #888;
  padding: 0 6px;
}
.breadcrumb a {
  color: #777;
  text-decoration: none;
}
.breadcrumb a:hover {
  text-decoration: underline;
}
.breadcrumb .active {
  color: #4b4b4b;
  font-weight: 500;
}

.event-page-card {
  background: #f2f2f2;
  border-radius: 24px;
  padding: 24px;
}
@media (max-width: 500px) {
  .event-page-card {
    padding: 16px;
  }
}
.event-page-card img {
  border-radius: 18px;
  height: auto;
}
@media (max-width: 500px) {
  .event-page-card img {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .event-page-card .button-all .btn {
    width: 100%;
  }
}

.event-meta p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
  color: #838383;
}
@media (max-width: 500px) {
  .event-meta p {
    font-size: 12px;
    margin-bottom: 0;
  }
}
.event-meta p span {
  color: #000;
}

.event-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  color: #171717;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .event-title {
    font-size: 24px;
    margin-bottom: 8px;
  }
}
.event-title span {
  margin-left: 15px;
  font-family: "Onest", sans-serif;
  font-weight: 600;
  border-radius: 16px;
  padding: 7px 8px;
  background: #ef2b00;
  font-size: 14px;
  line-height: 130%;
  color: #fff !important;
}

.event-duration {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #838383;
  margin-bottom: 24px;
}

.event-description {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #000;
}
@media (max-width: 500px) {
  .event-description {
    font-size: 14px;
  }
}

.event-price {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #000;
}
@media (max-width: 1200px) {
  .event-price {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .event-price {
    margin: 16px 0;
    text-align: left;
  }
}

.service-text {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #564dbb;
  border-bottom: 1px dashed #564dbb;
}

.object-fit-cover {
  object-fit: cover;
  object-position: center;
}

.read-more {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #564dbb !important;
}
.read-more__icon {
  width: 12px;
  height: 12px;
  background-image: url("img/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform 0.3s ease;
}
.read-more[aria-expanded=true] .read-more__icon {
  background-image: url("img/arrow-up.svg");
}

/* Отображаем скрытый текст описания как инлайн при раскрытии */
#collapseDesc.show {
  display: inline;
}

/* Скрываем многоточие при раскрытом описании */
#collapseDesc.show + .dots {
  display: none;
}

.event-organizer {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  color: #838383;
}
@media (max-width: 500px) {
  .event-organizer {
    font-size: 9px;
  }
}
.event-organizer span {
  color: #000;
}

/*TIME TABLE*/
.schedule-section {
  background-color: #fff;
}
.schedule-section__title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 133%;
  color: #171717;
}
@media (max-width: 500px) {
  .schedule-section__title {
    font-size: 24px;
  }
}
.schedule-section__title span a {
  font-weight: 700;
  font-size: 36px;
  line-height: 133%;
  color: #564dbb;
  text-decoration: none;
  border-bottom: 1px dashed #564dbb;
  padding-bottom: 2px;
  display: inline-block;
}
@media (max-width: 500px) {
  .schedule-section__title span a {
    font-size: 24px;
  }
}

.schedule-list__more .schedule-item:last-of-type {
  border-bottom: none !important;
}

.schedule-item {
  border-color: #e4e4e4;
}
.schedule-item__date {
  display: flex;
  align-items: center;
  line-height: 1;
}
.schedule-item__day {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  color: #000;
  margin-right: 12px;
}
@media (max-width: 767.98px) {
  .schedule-item__day {
    font-size: 32px;
  }
}
.schedule-item__month {
  text-align: left;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  color: #000;
}
@media (max-width: 767.98px) {
  .schedule-item__month {
    font-size: 14px;
  }
}
.schedule-item__week-day {
  text-align: left;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #838383;
}
@media (max-width: 767.98px) {
  .schedule-item__week-day {
    font-size: 10px;
  }
}
.schedule-item__time {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
  color: #000;
}
.schedule-item__city {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #838383;
}
.schedule-item__city.mobile {
  font-size: 10px;
}
.schedule-item__venue {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #838383;
}
.schedule-item__venue.mobile {
  font-size: 10px;
}
.schedule-item__price.button-all {
  flex-direction: column;
}
@media (max-width: 767.98px) {
  .schedule-item__price.button-all .btn {
    max-width: 117px;
  }
}

.schedule-toggle {
  background: rgba(11, 13, 18, 0.6);
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  border-radius: 20px;
  font-size: 14px;
  line-height: 114%;
  color: #fff;
}
.schedule-toggle .toggle-icon {
  font-size: 0.75rem;
  line-height: 1;
}

/*GALLERY*/
.gallery-section {
  margin-bottom: 48px;
}
.gallery-section .gallery-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 133%;
  color: #000;
}
.gallery-section .swiper-slide {
  width: auto;
  max-width: 220px;
}
.gallery-section .swiper-slide a {
  display: block;
}
.gallery-section .swiper-slide a img {
  border-radius: 16px;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}
.gallery-section .swiper-slide a img:hover {
  transform: scale(1.03);
}
.gallery-section .swiper-button-prev,
.gallery-section .swiper-button-next {
  border-radius: 6px;
  padding: 12px 4px;
  width: 32px;
  height: 32px;
  background: #fff;
}
.gallery-section .swiper-button-prev::after,
.gallery-section .swiper-button-next::after {
  display: none;
}
.gallery-section .swiper-button-prev img,
.gallery-section .swiper-button-next img {
  width: 16px;
  height: 16px;
}
.gallery-section .swiper-button-prev {
  left: -10px;
}
.gallery-section .swiper-button-next {
  right: -10px;
}

/*LOCAL*/
.location-section {
  margin-bottom: 48px;
}
.location-section__title {
  font-size: 32px;
  font-weight: 700;
}
.location-section__map {
  height: 388px;
  border-radius: 24px;
}
.location-section__map iframe {
  border: 0;
  border-radius: 1rem;
}
.location-section__local-name {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  color: #000;
  margin-bottom: 16px;
}
.location-section__address {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  color: #000;
  margin-bottom: 16px;
}
.location-section__number {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  color: #000;
  margin-bottom: 16px;
}
.location-section .location-section__time {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  color: #000;
}
.location-section .location-section__time .location-section__hours {
  color: #000;
  margin-right: 8px;
}
.location-section .location-section__time .location-section__note {
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #838383;
}
@media (max-width: 768px) {
  .location-section .location-section__time {
    font-size: 18px;
  }
}
.location-section .btn-light-purple {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  background-color: #f4edff;
  color: #6a3fcf;
  padding: 10px 16px;
  border-radius: 1rem;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.2s;
}
.location-section .btn-light-purple:hover {
  background-color: #e9ddff;
  color: #5a32ba;
}

.recommend-event__title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 133%;
  color: #171717;
  margin-top: 48px;
  margin-bottom: 24px;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 767.98px) {
  .event-footer {
    flex-direction: column;
    align-items: flex-start;
  }
  .event-footer .text-end {
    align-items: flex-start !important;
    flex-direction: column;
    text-align: left;
    margin-top: 1rem;
    width: 100%;
  }
  .event-card img {
    height: auto;
  }
}
/*Страница locations*/
.locations .card-img-top {
  height: 135px;
  object-fit: cover;
}
@media (max-width: 500px) {
  .locations .card-img-top {
    height: 80px;
    border-radius: 12px;
  }
}
.locations .event-card .card-title {
  margin-bottom: 0px;
}

/*СПИСКИ*/
.city-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .city-modal-overlay {
    align-items: flex-start;
    padding-top: 8px;
  }
}

.city-modal-overlay.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.city-modal {
  width: 80%;
  background: #f2f2f2;
  padding: 16px 16px 16px 42px;
  border-radius: 18px;
  box-shadow: 0 4px 8px 0 rgba(82, 77, 117, 0.15);
  font-family: "Ubuntu", sans-serif;
  max-height: 90vh;
  overflow-y: auto;
}
@media (max-width: 768px) {
  .city-modal {
    width: calc(100% - 48px);
  }
}
@media (max-width: 500px) {
  .city-modal {
    padding: 7px 7px 7px 7px;
    width: calc(100% - 8px);
  }
}
.city-modal::-webkit-scrollbar {
  width: 6px;
}
.city-modal::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}
.city-modal::-webkit-scrollbar-track {
  background-color: transparent;
}

.city-modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.city-modal__title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  padding-left: 28px;
  font-size: 48px;
  line-height: 100%;
  color: #171717;
  margin-bottom: 24px;
  margin-top: 16px;
}
@media (max-width: 500px) {
  .city-modal__title {
    font-size: 24px;
    margin-bottom: 16px;
  }
}

.city-modal__close {
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
  margin-bottom: auto;
}

.city-modal__close:hover {
  color: #000;
}

.city-modal__body {
  /* Дополнительные стили для тела модалки (если нужны) */
}

.city-modal__list {
  list-style: none;
  margin: 0;
  padding: 0;
  columns: 3;
  column-gap: 32px;
  max-height: 1848px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (max-width: 768px) {
  .city-modal__list {
    columns: 2;
  }
}
@media (max-width: 500px) {
  .city-modal__list {
    column-gap: 8px;
  }
}

.city-modal__list li {
  margin-bottom: 16px;
}
@media (max-width: 500px) {
  .city-modal__list li {
    margin-bottom: 8px;
  }
}

.city-modal__city {
  position: relative;
  padding-left: 28px;
  font-size: 24px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  color: #363434;
  line-height: 133%;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  .city-modal__city {
    font-size: 14px;
  }
}
.city-modal__city .city-check-icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}
.city-modal__city .city-check-icon svg {
  width: 13px;
  height: 13px;
  display: block;
}
.city-modal__city.active {
  font-weight: 500;
}

.city-modal__city:hover {
  text-decoration: underline;
}

.header__city-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  width: 240px;
  max-height: 280px;
  overflow-y: auto;
  z-index: 1050;
  display: none;
  padding: 10px 0;
  font-family: "Ubuntu", sans-serif;
}
.header__city-dropdown.show {
  display: block;
}
.header__city-dropdown-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header__city-dropdown-list li button {
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  padding: 10px 20px;
  font-size: 14px;
  color: #171717;
  cursor: pointer;
}
.header__city-dropdown-list li button:hover {
  background-color: #f2f2f2;
}

.header__city {
  position: relative;
}
.header__city-arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}
.header__city-arrow.rotate {
  transform: rotate(180deg);
}

.header__city-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: 180px;
  max-height: 208px;
  overflow-y: auto;
  background: #f2f2f2;
  border-radius: 4px;
  padding: 8px 0;
  z-index: 1000;
  display: none;
  border-right: 4px solid #f2f2f2;
  border-top: 4px solid #f2f2f2;
  border-bottom: 4px solid #f2f2f2;
}
.header__city-dropdown.show {
  display: block;
}
.header__city-dropdown-list {
  margin-right: auto;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header__city-dropdown-list li button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  position: relative;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  color: #171717;
  border: none;
  background: none;
  cursor: pointer;
  padding-right: 4px;
}
.header__city-dropdown-list li button svg {
  display: none;
}
.header__city-dropdown-list li button.active svg {
  display: inline-block;
}
.header__city-dropdown-list li button:hover {
  background-color: #f2f2f2;
}
.header__city-dropdown-list li button .check-icon {
  display: none;
}
.header__city-dropdown::-webkit-scrollbar {
  width: 6px;
}
.header__city-dropdown::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}
.header__city-dropdown::-webkit-scrollbar-track {
  background-color: transparent;
}

/*Страница NEWS-LISTING*/
.news-section .news-card {
  padding: 24px 24px 16px 24px;
  border-radius: 24px;
  background: #f2f2f2;
  cursor: pointer;
  transition: background 0.2s;
  height: 100%;
}
@media (max-width: 576px) {
  .news-section .news-card {
    padding: 8px;
    border-radius: 16px;
  }
}
.news-section .news-card:hover {
  background: #f0f0f0;
}
.news-section .news-card__date {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #838383;
  margin-bottom: 8px;
}
@media (max-width: 576px) {
  .news-section .news-card__date {
    font-size: 9px;
    margin-bottom: 4px;
  }
}
.news-section .news-card__title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #171717;
  margin-bottom: 4px;
}
@media (max-width: 576px) {
  .news-section .news-card__title {
    font-size: 16px;
  }
}
.news-section .news-banner img {
  display: block;
  width: 100%;
  border-radius: 16px;
}
.news-section .pagination-custom .page-item .page-link {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  border: none;
  background: transparent;
  color: #000;
  font-size: 16px;
  margin: 0 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  transition: background 0.3s, color 0.3s;
}
@media (max-width: 768px) {
  .news-section .pagination-custom .page-item .page-link {
    margin: 0 8px;
  }
}
@media (max-width: 576px) {
  .news-section .pagination-custom .page-item .page-link {
    margin: 0 4px;
  }
}
.news-section .pagination-custom .page-item .page-link svg.icon {
  width: 16px;
  height: 16px;
  transition: color 0.3s, fill 0.3s;
}
.news-section .pagination-custom .page-item .page-link:focus {
  box-shadow: none;
}
.news-section .pagination-custom .page-item .page-link:hover {
  background: #f2f2f2;
  color: #b88446;
}
.news-section .pagination-custom .page-item.active .page-link {
  background: #b88446;
  color: #fff;
}

/*СТРАНИЦА NEWS-UNIT*/
.news-detail-section {
  padding-top: 24px;
  padding-bottom: 48px;
}
@media (max-width: 576px) {
  .news-detail-section {
    padding-top: 8px;
  }
}
.news-detail-section .news-detail-card {
  background: #f2f2f2;
  border-radius: 24px;
  padding: 24px;
}
@media (max-width: 576px) {
  .news-detail-section .news-detail-card {
    padding: 16px;
    border-radius: 16px;
  }
}
.news-detail-section .news-detail-date {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #838383;
  margin-bottom: 8px;
}
@media (max-width: 576px) {
  .news-detail-section .news-detail-date {
    font-size: 9px;
  }
}
.news-detail-section .news-detail-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  color: #171717;
  margin-bottom: 28px;
}
@media (max-width: 576px) {
  .news-detail-section .news-detail-title {
    font-size: 24px;
    margin-bottom: 16px;
  }
}
.news-detail-section .news-detail-text {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #000;
  margin-bottom: 16px;
}
.news-detail-section .news-detail-text strong {
  font-weight: 700;
}
.news-detail-section .news-detail-card .news-detail-text:last-child {
  margin-bottom: 0;
}
.news-detail-section .news-detail-link {
  color: #bb8a4d;
  text-decoration: none;
}
.news-detail-section .news-detail-link:hover {
  text-decoration: underline;
}

/*СТРАНИЦА ABOUT*/
.about-section {
  padding-bottom: 48px;
}
@media (max-width: 576px) {
  .about-section {
    padding-bottom: 32px;
  }
}
.about-section .about-card {
  background: #f2f2f2;
  border-radius: 24px;
  padding: 24px;
}
@media (max-width: 576px) {
  .about-section .about-card {
    border-radius: 16px;
    padding: 16px;
  }
}
.about-section .about-card .about-date {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #838383;
  margin-bottom: 8px;
}
@media (max-width: 576px) {
  .about-section .about-card .about-date {
    font-size: 9px;
  }
}
.about-section .about-card .about-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin-bottom: 28px;
  font-size: 48px;
  line-height: 100%;
  color: #171717;
}
@media (max-width: 576px) {
  .about-section .about-card .about-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
.about-section .about-card .about-subtitle {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  color: #171717;
  margin-bottom: 16px;
}
@media (max-width: 576px) {
  .about-section .about-card .about-subtitle {
    font-size: 24px;
    margin-bottom: 18px;
  }
}
.about-section .about-card .about-text {
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #000;
}
.about-section .about-card .about-text strong {
  font-weight: 700;
}
.about-section .about-card .about-link {
  color: #b88446;
  text-decoration: underline;
}
.about-section .about-card .about-link:hover {
  text-decoration: underline;
}
.about-section .about-card .about-list {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  padding-left: 0;
  list-style: none;
  font-size: 16px;
  line-height: 125%;
  color: #000;
  margin-bottom: 0;
}
.about-section .about-card .about-list li {
  margin-bottom: 16px;
  font-family: "Ubuntu", sans-serif;
}
@media (max-width: 576px) {
  .about-section .about-card .about-list li {
    margin-bottom: 8px;
  }
}
.about-section .about-card .about-list li:last-child {
  margin-bottom: 0;
}
.about-section .about-card .about-list > li {
  position: relative;
  padding-left: 14px;
  list-style: none;
}
.about-section .about-card .about-list > li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 6px;
  height: 6px;
  background-color: #b88446;
  border-radius: 50%;
}
.about-section .about-card .about-list ol {
  list-style: none;
  counter-reset: alpha-counter;
  margin-top: 16px;
  padding-left: 0;
}
@media (max-width: 576px) {
  .about-section .about-card .about-list ol {
    margin-top: 8px;
  }
}
.about-section .about-card .about-list ol > li {
  counter-increment: alpha-counter;
  position: relative;
  padding-left: 22px;
}
.about-section .about-card .about-list ol > li::before {
  content: counter(alpha-counter, lower-alpha) ")";
  position: absolute;
  left: 0;
  top: 0;
  color: #b88446;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}
.about-section .about-card .about-list ol > li ul {
  list-style: none;
  margin-top: 16px;
  padding-left: 0;
}
@media (max-width: 576px) {
  .about-section .about-card .about-list ol > li ul {
    margin-top: 8px;
  }
}
.about-section .about-card .about-list ol > li ul li {
  position: relative;
  padding-left: 22px;
}
.about-section .about-card .about-list ol > li ul li::before {
  content: "—";
  position: absolute;
  left: 0;
  top: 0;
  color: #b88446;
  font-weight: bold;
}

/*СТРАНИЦА 404*/
.error-404-section {
  margin-top: 144px;
  margin-bottom: 48px;
}
@media (max-width: 768px) {
  .error-404-section {
    margin-top: 90px;
    margin-bottom: 24px;
  }
}
.error-404-section .error-404-card {
  background: #f2f2f2;
  border-radius: 24px;
  padding: 24px;
}
.error-404-section .error-404-number {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-weight: 900;
  font-size: 260px;
  line-height: 92%;
  color: #bfbfbf;
}
@media (max-width: 576px) {
  .error-404-section .error-404-number {
    font-size: 169px;
    margin-bottom: 8px;
  }
}
.error-404-section .error-404-title {
  font-weight: 700;
  font-family: "Lato", sans-serif;
  font-size: 48px;
  line-height: 100%;
  color: #171717;
  margin-bottom: 28px;
}
@media (max-width: 576px) {
  .error-404-section .error-404-title {
    font-size: 24px;
    margin-bottom: 16px;
  }
}
.error-404-section .error-404-text {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 125%;
  color: #000;
}
@media (max-width: 576px) {
  .error-404-section .error-404-text {
    font-size: 12px;
    margin-bottom: 8px;
  }
}
.error-404-section .error-404-link {
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #bb8a4d;
}
.error-404-section .error-404-link .error-404-arrow {
  margin-right: 8px;
}
.error-404-section .error-404-link:hover {
  text-decoration: underline;
}
@media (max-width: 576px) {
  .error-404-section .error-404-link {
    font-size: 12px;
  }
}
.error-404-section .btn {
  background-color: #bb8a4d !important;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 178%;
  color: #fff;
  border-radius: 16px;
  padding: 8px 16px;
}
.error-404-section .btn:hover {
  background-color: #9b703b !important;
  color: #fff;
}
.error-404-section .btn:active {
  background-color: #76552d !important;
  color: #fff;
}

/*СТРАНИЦА ALL-EVENTS*/
.all-events .filter-block {
  margin: 0 10px;
  background-color: #564dbb;
  border-radius: 24px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media (max-width: 500px) {
  .all-events .filter-block {
    border-radius: 0 0 16px 16px;
  }
}
.all-events .filter-block h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 133%;
  color: #fff;
}
.all-events .filter-block .form-control:focus {
  background-color: rgba(70, 66, 66, 0.6);
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}
.all-events .filter-block__icon {
  margin-left: 8px;
  display: inline-flex !important;
  align-items: center;
}
@media (max-width: 768px) {
  .all-events .filter-block__icon {
    margin-left: 0px;
    padding: 4px 2px;
  }
}
@media (max-width: 577px) {
  .all-events .filter-block__icon {
    margin-left: auto;
  }
}
.all-events .filter-block__icon.rotated .filter-block__arrow {
  transform: rotate(180deg);
}
.all-events .filter-block__icon .filter-block__arrow {
  transition: transform 0.3s ease;
}
.all-events .filter-block .form-group {
  margin-right: 1px;
}
.all-events .filter-block__filter-placeholder {
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  pointer-events: none;
  transition: 0.2s;
  pointer-events: none;
}
.all-events .filter-block__filter-placeholder.is-hidden {
  opacity: 0;
  visibility: hidden;
}
.all-events .filter-block input[type=date] {
  color: transparent;
}
.all-events .filter-block__select, .all-events .filter-block__input {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  border: none;
  color: #fff;
  border-radius: 20px;
  padding: 9px 16px;
  background: rgba(70, 66, 66, 0.6);
}
.all-events .filter-block__input-left {
  border-radius: 20px 0 0 24px;
  margin-right: 1px;
}
.all-events .filter-block__input-right {
  border-radius: 0 20px 20px 0;
}
.all-events .filter-block__select:focus, .all-events .filter-block__input:focus {
  outline: none;
  box-shadow: none;
}
.all-events .filter-block__toggle {
  display: flex;
  margin-left: auto;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  border: none;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 9px 16px;
}
@media (max-width: 768px) {
  .all-events .filter-block__toggle {
    font-size: 0px;
  }
}
@media (max-width: 576px) {
  .all-events .filter-block__toggle {
    font-size: 14px !important;
    width: 100%;
  }
}
.all-events .filter-block__toggle:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
@media (max-width: 768px) {
  .all-events .filter-block .filter-block__extra {
    flex-wrap: wrap;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1600px;
    margin: 0 auto;
  }
  .row-xxl-5-cols > .col {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .banner-wrapper {
    order: 16;
  }
  .row-xxl-5-cols .col:nth-child(n+28) {
    display: none !important;
  }
}

/*# sourceMappingURL=style.css.map */
